body{
    background-image: url(bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.simple-form{
    text-align: center;
    margin: 100px 0px;
}
h1{
    font-size: 40px;
    color: white;
    text-shadow: 2px 3px gray;
}
#button{
    width: 400px;
    background-color: black;
    color: gray;
    padding: 7px;
    margin: 5px;
    border-radius: 2%;
    cursor: pointer;
    line-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-sizing: border-box;
}
.module #button:hover{
    border-color:rgba(255, 255, 255, 0.856);
    color: white;
}
.avatar{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 4%;
    color: white;
}
#but{
    width: 400px;
    background-color: rgb(14, 104, 160);
    color: white;
    padding: 8px;
    border-radius: 2%;
    line-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7); ;
    margin-top: 10px;
}
.module #but:hover{
    background-color: rgb(37, 148, 216);

}